.container{

    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
.todo-list{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 30px;
}

.item-view{
    display:flex;
    height: 40px;
    align-items: center;
    border-bottom: solid 1px #c8c8c8;
    width: 100%;


}
.item-view >li{

    list-style: none;
    text-transform: capitalize;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.item-view >button{


}